<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160919389974-g2j09i2oq8uqifa325v68rtd1m855mkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160919389974-g2j09i2oq8uqifa325v68rtd1m855mkn</string>
	<key>API_KEY</key>
	<string>AIzaSyCy8QPhelzNg68n35GBKBcgHZc_pk6S0fs</string>
	<key>GCM_SENDER_ID</key>
	<string>160919389974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.incitiesAr</string>
	<key>PROJECT_ID</key>
	<string>incitiesra</string>
	<key>STORAGE_BUCKET</key>
	<string>incitiesra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160919389974:ios:afa73fa7ae7b17d9547237</string>
	<key>DATABASE_URL</key>
	<string>https://incitiesra.firebaseio.com</string>
</dict>
</plist>